<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title">Add a comment</h2><hr>

  <form class="new-comment-form">
    
    <div>
      <label for="comment-text">Comment:</label>
      <input class="textarea is-large" id="post-content" name="comment-text" placeholder="your blog content goes here"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">add comment</button>
  </form>
</section>

<script src="/javascript/add-comment.js"></script>