<div class="mb-5 pt-3">
        <a href="/dashboard/create/"><button id="create-comment" class="button is-primary is-pulled-right">Add comment</button></a>
        
        <h2 class="title pb-4">Dashboard: Your comments</h2><hr>
{{#if comments.length}}
<div>
    {{#each comments as |comment|}}
        <div>
        {{> comment-info comment}}        
         <a href="/dashboard/edit/{{comment.id}}"><button class="button mb-5 ml-5 is-warning">edit</button></a>
        </div>
    {{/each}}
{{else}}
<h6 class="pb-4 has-text-centered is-italic">No comments here!</h6>
{{/if}} 
</div>


<script src="/javascript/add-comment.js"></script>
