<form class="edit-comment-form">
    <div>
      <label for="comment-text">Your Comment:</label>
      <input class="textarea" name="comment-text" type="text" value="{{comment.comment_text}}" />
    </div>
    <div class="is-pulled-right has-text-white">
      Created on {{format_date comment.createdAt}}
    </div>
    <button type="submit" class="button is-success">Save</button>
    <button type="button" class="button is-danger delete-comment-btn">Delete</button>
  </form>
</article>

<script src="/javascript/edit-comment.js"></script>
<script src="/javascript/delete-comment.js"></script>
{{!--
<script src="/javascript/comment.js"></script> --}}
