{{!-- Post - partial filename and object --}}
{{!-- When we pass the post object into the partial, we don't pass the object as is
but rather pass in all of the properties of that object. --}}

<div class="container">
  <header>
    <section class="hero is full-height">
      <div class="hero-body">
        <div class="container">
          <h1 class="top-content has-text-centered has-text-white">Welcome to the<img id="hearthstone-logo"
              src="/images/hearthstone-logo.png">
            </a>Review
          </h1>
          <h2 class="sub-content has-text-centered has-text-white">Hearthstone players and admirers alike can come
            here to learn about all of the cards Hearthstone has to offer</h2>
        </div>
      </div>
    </section>
  </header>
</div>



<ul class="post-list">
  {{#each comments as |comment|}}
  <li>
    {{> comment-info comment }}
  </li>


  {{else}}
  <h6 class="pb-4 has-text-centered is-italic">No reviews found!</h6>
  {{/each}}
</ul>