{{!-- Post - partial filename and object --}}
{{!-- When we pass the post object into the partial, we don't pass the object as is
but rather pass in all of the properties of that object. --}}

<div class="container">
  <header>
    <h1 class="top-content has-text-centered">Welcome to the<img id="hearthstone-logo"
        src="/images/hearthstone-logo.png">
      Review</h1>
  </header>
  <h2 class="sub-content">A resource for Hearthstone players to interact with one another and comment on game play cards
  </h2>

</div>



<ul class="post-list">

  {{#each comments as |comment|}}
  <li>
    {{> comment-info comment }}
  </li>


  {{else}}
  <h6 class="pb-4 has-text-centered is-italic">No reviews found!</h6>
  {{/each}}
</ul>
