{{!-- User Log in form --}}

<div class="column">
  <h2 class="title has-text-centered has-text-white">Login</h2>
  <form class="login-form has-text-centered">
    <div>
      <label for="email-login">Email:</label>
      <input type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit" class="button" style="background-color:goldenrod">Login</button>
      <a href="/signup"><button type="button" class="button" style="background-color:goldenrod">Sign Up</button></a>
    </div>
  </form>
</div>

<!-- include javascript file-->
<script src="/javascript/login.js"></script>